<h1>Formulário</h1>
<form action="http://localhost:3003/usuarios" method="POST">
    <input type="text" name="nome" id="">
    <input type="password" name="senha" id="">
    <textarea name="bio" id="" cols="30" rows="10"></textarea>
    <div>
        <input type="radio" name="tipo" value="admin"> Admin
        <input type="radio" name="tipo" value="regular"> Regular
        <input type="radio" name="tipo" value="professor"> Professor
    </div>
    <div>
        <input type="checkbox" name="ativo">Ativo
    </div>
    <select name="estado" id="">
        <option>Selecione</option>
        <option value="SP">São Paulo</option>
        <option value="PR">Paraná</option>
        <option value="SC">Santa Catarina</option>
        <option value="RS">Rio Grande do Sul</option>
    </select>
    <select name="interesses" multiple size="5">
        <option value="js">JavaScript</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="go">Go</option>
        <option value="C">C</option>
    </select>


    <button>Incluir</button>

</form>

<style>
    input, textarea, select {
        display: block;
        margin-bottom: 10px;
    }
    input[type=radio],
    input[type=checkbox]{
        display: inline;
    }
    
</style>