<h1>LINKS</h1>
<!--URL Absoluta-->
<a href="http://www.google.com.br">Google 1</a>
<a href="http://www.google.com.br" target="_blank">Google 2</a>
<br><br>
<!--URL Relativa-->
<a href="index.html">Voltar 1</a>
<a href="/index.html">Voltar 2</a>
<a href="../index.html">Voltar 3</a>