<h1>Listas</h1>
<!--Lista Ordenada-->
<h2>Ordenada</h2>
<ol>
    <li>Bia</li>
    <li>Pedro</li>
    <li>Ana</li>
    <li>João</li>
</ol>
<!--Lista Não Ordenada-->
<h2>Não Ordenada</h2>
<ul>
    <li>Bia</li>
    <li>Pedro</li>
    <li>Ana</li>
    <li>João</li>
</ul>

<!--Lista de Definição-->
<h2>Lista de Definição</h2>
<dl>
    <dt>Mulher</dt>
        <dd>Bia</dd>
    <dt>Homem</dt>
        <dd>Pedro</dd>
    <dt>Menina</dt>
        <dd>Ana</dd>
    <dt>Menino</dt>
        <dd>João</dd>
</dl>