<!--Tabela-->
<table>
    <caption>Produtos</caption>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>iPad</td>
            <td>3289,00</td>
            <td>5</td>
            <td>16445,50</td>
        </tr>
        <tr>
            <td>Samsung</td>
            <td>1289,00</td>
            <td>50</td>
            <td>11445,50</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" rowspan="2">Total</td>
            <td>99999,99</td>
        </tr>
        <tr>
            <td>teste</td> 
        </tr>
    </tfoot>
</table>
<style>
    table {
        border-collapse: collapse
    }

    th, td {
        padding: 10px;
    }

    thead tr {
        border-bottom: solid 3px #4444;
    }

    tbody tr:hover {
        background-color: aqua;
    }

    tfoot {
        background-color: greenyellow;
        color: coral;
        font-weight: bold;        
    }
</style>