<h1>Texto (Parte 2)</h1>

<!--Quebra de linha e Quebra temática-->
<p>Isso está<br>em uma<br/> nova linha.</p>
<p>Tema Interessante 1</p>
<hr/>
<p>Tema Interessante 2</p>
<!-- Marcações Semânticas-->
<p><strong>Cuidado!</strong>Alta Voltagem! <em>Somente pessoal autorizado.</em></p>
<blockquote cite="https://en.wikipedia.org/wiki/wikipedia" <p>Citações longas...</p> </blockquote>
<p>Fulano disse que <q>tempor incididunt ut labore et dolore</q></p>
